<div class="container px-4">
  <div class="row">
    <div class="col-lg-8">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to "Settings", root_path, class: "nav-link active", "aria-current": "page" %>
        </li>
        <!-- Displaying tabs for all properties -->
        <% @properties.each do |property| %>
          <li class="nav-item">
            <%= link_to property.abbreviation, property, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <div class="container">
        <div class="row">
          <h3 class="mt-5 mb-3">Property Settings</h3>
          <!-- Displaying all properties in a Bootstrap Accordian -->
          <div class="accordion" id="accordionProperty">
            <!-- Rendering the 'property' partial for each property -->
            <% @properties.each do |property| %>
              <%= render 'property', property: property %>
            <% end %>

            <div class="accordion-item">
              <!-- Accordian for New Property -->
              <h2 class="accordion-header" id="heading-property-new">
                <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-property-new" aria-expanded="false" aria-controls="collapse-property-new">
                  Add New Property
                </div>
              </h2>
              <div id="collapse-property-new" class="accordion-collapse collapse" aria-labelledby="heading-property-new">
                <div class="accordion-body">
                  <p>Below fill out the details of your new property:</p>
                  <%= render 'form', property: @property %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <h3 class="mt-5 mb-3">Tenant Settings</h3>
          <div>TODO: Show list of tenants</div>
        </div>
      </div>

    </div>
  </div>
</div>
